<div class="content" role="main">
    <div class="row">
        <div class="card">
            <div id="formContent">
                <h3>Welcome to the quizz ! You'll be asked a series of "Yes or No" questions. Answer as many as you can in the allowed time ! Good luck !</h3>
            </div>
            <div id="formFooter">
                <button class="btn start_btn" (click)="startGame()">START</button>
                <h3>best score {{ bestScore }}</h3>
            </div><br>
        </div>
    </div>
</div>